{% extends "base.html" %}
{% block script %}
<title>Projects</title>
<style>
  tbody>tr{
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  thead{
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  tbody>tr{
    height:50px;
    text-align:middle;
  }
  th{
    font-weight:600;
  }
</style>
{% endblock %}
{% block content %}
<div class="container">
    
    <div class="container">
        <div class="row w-50">
          <select class="form-control form-control-sm w-25" id="year">
            <option value="completed">Completed</option>
            <option value="working">Working</option>
            <option value="all">All Projects</option>
          </select>
          <input type="text" Placeholder="Search " class="form-control form-control-sm w-25"/>
        </div>
    </div>
    <div class="mt-4 table-responsive">
      <table id="example" class="table table-hover text-left" style="width:100%;border-top-radius:5px;border-spacing: 0 10px;">
        <thead>
          <tr class="text-left align-middle">
            <th scope="col" class="col-sm-3">Name</th>
            <th scope="col">Customer</th>
            <th scope="col" class="col-sm-3">Progress</th>
            <th scope="col">Created On</th>
            <th scope="col">Est Complete</th>
            <th scope="col">Manage By</th>
          </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr class="bg-light">
                <td><a href="{% url 'projectDetails' pid=project.id%}">{{project.name}}</a></td>
                <td>{{project.customer}}</td>
                <td><div class="progress">
                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                    <span class="text-dark">40% Complete</span>
                  </div>
                </div></td>
                <td>{{project.created_on}}</td>
                <td>{{project.estimated_date}}</td>
                <td>{{project.manager}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}