<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Change Password</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


</head>

<body class="bg-gradient-primary">

    <div class="container">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content ">
                <main>
                    <div class="container mt-5">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-2">Change Password</h3></div>
                                    <div class="card-body">
                                        <form action='' class="user" method="POST">
                                            {% csrf_token %}
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="password1" type="password" placeholder="Password" />
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" id="password2" type="password" placeholder="Password" />
                                                <label for="inputPassword">Repeat Password</label><br />
                                                <p id="s_message"><p>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a  class="btn btn-primary" onclick="newPassword()">Change Password</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            
        </div>
       
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    
    
</body>
<script>
    function newPassword()
    {
        var p1 = $("#password1").val();
        var p2 = $("#password2").val();
        var csr =$("input[name=csrfmiddlewaretoken]").val();
        var data = {password1:p1,password2:p2,csrfmiddlewaretoken:csr};
        $.ajax({
            url: "{% url 'updatePassword' %}",
            method: "POST",
            data:data,
            success: function(data){
                if(data.result == "Success")
                {
                    $("#s_message").html('Password Changed!');
                }
                else
                {
                    $("#s_message").html('<label style="color:red;">'+data.result+'</label>');
                }
                
            },
        }); 
    }
</script>
</html>